.panel {
  width: 40%;
  background-color: var(--primary-red);
  padding: 1rem 2rem;
  border-radius: 20px;
  color: white;
  box-shadow: inset 0 0 7px 7px rgb(255 255 255 / 20%);
  min-height: 400px;
  margin-top: 2rem;
}

#index-header {
  background-color: unset;
  display: unset;
}

.panel-title {
  text-align: center;
  font-size: 1.8rem;
  margin: 0.5rem 0;
  text-decoration: underline;
}

#index-banner,
#results-banner {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: rgb(198, 104, 104);
  padding: 0 10px;
  align-items: center;
}

#index-nav {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

#index-nav > div {
  background-color: var(--primary-grey);
  color: black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  cursor: pointer;
}

#index-nav > div:last-child {
  border-right: 2px solid black;
}

#index-nav > div:hover {
  background: radial-gradient(#c4c4c4, #4d4d4d);
}

#index-nav p {
  text-align: center;
}

.active-tab {
  font-weight: bold;
  background: radial-gradient(#c4c4c4, #4d4d4d);
}

#index-container {
  background-color: white;
}

#index-list {
  color: black;
  list-style-type: none;
  padding-inline-start: 0;
  padding: 10px;
  overflow: auto;
  max-height: 450px;
  margin: 0;
}

li.move-name,
li.alias {
  width: max-content;
  margin: 5px 0;
  cursor: pointer;
}

li.alias {
  text-indent: 20px;
  font-size: 80%;
}

#results-container {
  background-color: #c8c8f7;
  height: calc(100% - 53px);
}

#results-list {
  color: black;
  list-style-type: none;
  padding-inline-start: 0;
  padding: 10px;
  overflow: auto;
  margin: 0;
  height: calc(100% - 20px);
}

.close-btn {
  margin-right: 10px;
  background-color: white;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}

#list-wrapper {
  position: relative;
}

#results-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

#text-results {
  text-decoration: underline;
  font-weight: bold;
}