/*Table of Contents
  > Global/Shared styles
    > Fontawesome
  > Home page
    > Saved Flows
    > Current Move
    > NextMovesFilters
  > Media Queries
*/

:root {
  --primary-grey: #c4c4c4;
  --primary-red: #a00303;
  --shadow-inset-white: inset 0 0 7px 7px rgba(255, 255, 255, 0.2);
}

/*Global/Shared styles*/
.reveal {
  opacity: 1 !important;
  visibility: visible !important;
  transition: all 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.hidden {
  display: none;
}

.error,
.alert {
  font-style: italic;
  text-align: center;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  width: max-content;
  margin: 5px auto 0 auto;
  color: #ffff00;
}

.alert {
  position: absolute;
  bottom: 20px;
  visibility: hidden;
  opacity: 0;
}

.filter-error {
  font-style: italic;
  text-align: center;
  width: max-content;
  color: #ffff00;
}

.para-instr {
  text-indent: 2rem;
  margin-top: 1rem;
  line-height: 1.5;
}

.rotate180 {
  transform: rotate(180deg);
}

/*only found in SavedFlows component*/
.btn-base {
  font-weight: bold;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid;
}

.btn-base:disabled {
  cursor: not-allowed;
}
/*--------------------*/

.af-btn {
  padding: 3px 7px;
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
  color: var(--primary-red);
  align-self: center;
}

.af-btn:hover {
  color: black;
  text-shadow: 1px 1px var(--primary-red);
  filter: contrast(140%);
}

.af-btn:disabled {
  cursor: wait;
}

.stylish-submit {
  font-size: 1rem;
  padding: 4px 8px;
  color: white;
  border-color: gray;
  background: radial-gradient(#999, #4d4d4d);
  cursor: pointer;
}

.stylish-submit:hover {
  filter: sepia(100%);
}

.loading {
  height: calc(100vh - 116px); /*subtract height of header*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Fontawesome*/
.fa-trash-alt {
  color: var(--primary-red);
  font-size: 22px;
  vertical-align: middle;
  cursor: pointer;
}

.fa-window-close {
  font-size: 25px;
  vertical-align: middle;
  color: #c4a630;
  background-color: black;
  line-height: 0.6;
  width: 24px;
  cursor: pointer;
}

.fa-undo {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.fa-info-circle {
  padding: 0 5px;
  cursor: help;
  transform: scale(1.1);
  line-height: 0.5;
}

.fa-plus,
.fa-minus,
.fa-info {
  align-self: center;
  background-color: var(--primary-grey);
  padding: 6px;
  cursor: pointer;
  color: black;
}

.fa-info {
  padding: 6px 10px;
}
/*--------------------*/

/*Home page*/
main#home-page,
main#move-index {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

  /*Saved Flows*/
div#flow-management {
  background-color: var(--primary-grey);
  padding: 1px 1rem 0 1rem;
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 4rem;
}

div#flow-management .save-btn {
  margin-left: 2rem;
}

.para-manage-flow {
  display: inline-block;
  text-decoration: underline;
}

.save-btn {
  color: #00087d;
  border-color: black;
}

.save-btn:enabled:hover {
  color: black;
  border-color: #00087d;
  background-color: rgb(233, 233, 237);
}

  /*Current Move*/
section#current-move,
section#current-flow {
  width: 40%;
  background-color: var(--primary-red);
  padding: 1rem 2rem; 
  border-radius: 20px;
  color: white;
  box-shadow: var(--shadow-inset-white);
  min-height: 400px;
  margin-top: 2rem;
}

#current-move-title,
#current-flow-title {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0.5rem;
  text-decoration: underline;
  margin-bottom: 0;
}

.para-current-move {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0.5rem;
}

.current-move-img {
  height: 7rem;
}

.move-info {
  display: inline-block;
  align-self: center;
  margin-left: 2rem;
  font-size: 18px;
}

#next-moves-panel {
  background-color: var(--primary-grey);
  padding-bottom: 1rem;
}

#next-moves-panel > h3 {
  text-align: center;
  text-decoration: underline;
  font-size: 1.6rem;
  color: black;
  padding-top: 1rem;
  margin-bottom: 10px;
}

.next-moves-filters {
  display: flex;
  color: black;
  align-items: center;
  grid-gap: 2rem;
}

#next-moves-container {
  background-color: white;
  margin: 0 1rem;
}

#next-moves-list,
#current-flow-list {
  list-style: none;
  padding-inline-start: 0;
  overflow: auto;
  scrollbar-color: #241f20 #717171;
}

#next-moves-list {
  padding: 0.5rem 1rem;
  max-height: 450px;
}

#next-moves-list > li,
#current-flow-list > li {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-red);
  padding: 0.5rem 1rem;
  margin: 0.5rem auto;
}

#next-moves-list p,
#current-flow-list p {
  display: inline-block;
  align-self: center;
  font-size: 1.2rem;
  padding: 0 10px;
  text-align: center;
}

.callout-command {
  text-shadow: -1px -1px 0 #00000054, 1px -1px 0 #00000054, -1px 1px 0 #00000054, 1px 1px 0 #00000054;
}

#next-moves-list img {
  height: 5rem;
}

.para-current-move::before,
.para-current-move::after {
  background-image: url(./assets/Claws-Black.png); 
  display: inline-block;
  background-size: 100% 100%;
  height: 40px;
  width: 40px;
  content: "";
}

.para-current-move::before {
  transform: translateY(14px) rotate(80deg);
}

.para-current-move::after {
  transform: translateY(14px) rotate(10deg);
}

  /*NextMovesFilters*/
.filter-menu {
  position: relative;
}

.filter-options {
  position: absolute;
  width: max-content;
  background-color: rgb(255, 255, 255);
  padding: 2px 8px 5px 2px;
  color: #000000;
}

.filter-options hr {
  margin: 3px auto auto auto;
  width: 100%;
}

/*Media Queries*/
@media screen and (max-width: 1050px){
  main#home-page,
  main#move-index {
    flex-direction: column;
    align-items: center;
  }

  section#current-move, 
  section#current-flow,
  section.panel {
    width: 60%;
  }
}