/*Table of Contents
  > Global styles
  > Header styles
  > Home page
    > Saved Flows
    > Current Move
    > Current Flow
    > Form Random Flow
  > Move Index page
  > Login Page
  > Animations
  > Media Queries
    > For Header and Navbar
    > For Home Page
*/

:root {
  --primary-grey: #c4c4c4;
  --primary-red: #a00303;
  --shadow-inset-white: inset 0 0 7px 7px rgba(255, 255, 255, 0.2);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*Global styles*/
.reveal {
  opacity: 1 !important;
  visibility: visible !important;
  transition: all 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.hidden {
  display: none;
}

.error,
.alert {
  font-style: italic;
  text-align: center;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  width: max-content;
  margin: 5px auto 0 auto;
  color: #ffff00;
}

.alert {
  position: absolute;
  bottom: 20px;
  visibility: hidden;
  opacity: 0;
}

.filter-error {
  font-style: italic;
  text-align: center;
  width: max-content;
  color: #ffff00;
}

.para-instr {
  text-indent: 2rem;
  margin-top: 1rem;
  line-height: 1.5;
}

.btn-base {
  font-weight: bold;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid;
}

.btn-base:disabled {
  cursor: not-allowed;
}

.af-btn {
  padding: 3px 7px;
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
  color: var(--primary-red);
  align-self: center;
}

.af-btn:hover {
  color: black;
  text-shadow: 1px 1px var(--primary-red);
  filter: contrast(140%);
}

.af-btn:disabled {
  cursor: wait;
}

.fa-trash-alt {
  color: var(--primary-red);
  font-size: 22px;
  vertical-align: middle;
  cursor: pointer;
}

.fa-window-close {
  font-size: 25px;
  vertical-align: middle;
  color: #c4a630;
  background-color: black;
  line-height: 0.6;
  width: 24px;
  cursor: pointer;
}

.fa-undo {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.stylish-submit {
  font-size: 1rem;
  padding: 4px 8px;
  color: white;
  border-color: gray;
  background: radial-gradient(#999, #4d4d4d);
  cursor: pointer;
}

.stylish-submit:hover {
  filter: sepia(100%);
}

/*Header styles*/
header {
  display: flex;
  justify-content: space-between;
  background-color: #121212;
  color: white;
}

#loginfo {
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginfo > div {
  margin: 0.5rem;
}

#loginfo span {
  text-align: center;
  width: 100%;
  display: inline-block;
}

#userName {
  color: #c4a630;
  font-style: italic;
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.05rem;
}

h1#main-title {
  text-align: center;
  width: 100%;
  margin: 1.8rem 0;
  line-height: 1.7;
}

#abbr-title {
  display: none;
}

#letA {
  display: inline-block;
  transform: translateY(-5px);
  padding-right: 3px;
}

#letF {
  display: inline-block;
  transform: translateY(5px);
}

.claws-menu {
  height: 7rem;
  transform: rotate(40deg);
  filter: invert(1);
  cursor: pointer;
  margin-right: 30px;
}

nav#topnav {
  display: flex;
  justify-content: flex-end;
  background-color: var(--primary-grey);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
}

nav#topnav > div {
  display: flex;
}

.btn-page {
  border: none;
  display: block;
  height: 54px;
  cursor: pointer;
  width: 100px;
  border-left: 1px solid black;
  font-size: 0.8rem;
  font-weight: bold;
}

.btn-page:hover {
  color: white;
  background-color: #e01313c4;
}

.open-menu {
  transform: rotate(0deg);
  filter: invert(0.8);
  transition: all 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

/*Home page*/
main#home-page,
main#move-index {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

  /*Saved Flows*/
div#flow-management {
  background-color: var(--primary-grey);
  padding: 1px 1rem 0 1rem;
  display: grid;
  grid-template-columns: 22rem 1fr;
}

div#flow-management .save-btn {
  margin-left: 2rem;
}

.para-manage-flow {
  display: inline-block;
  text-decoration: underline;
}

.save-btn {
  color: #00087d;
  border-color: black;
}

.save-btn:enabled:hover {
  color: black;
  border-color: #00087d;
  background-color: rgb(233, 233, 237);
}

  /*Current Move*/
section#current-move,
section#current-flow {
  width: 40%;
  background-color: var(--primary-red);
  padding: 1rem 2rem; 
  border-radius: 20px;
  color: white;
  box-shadow: var(--shadow-inset-white);
  min-height: 400px;
  margin-top: 2rem;
}

#current-move > ul {
  padding-inline-start: 0;
}

#current-move-title,
#current-flow-title {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0.5rem;
  text-decoration: underline;
  margin-bottom: 0;
}

.para-description {
  font-size: 1.2rem;
  text-align: center;
}

.base-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid var(--primary-grey);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(.46,.03,.52,.96);
  max-width: 25rem;
  height: 5rem;
}

.base-item:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 5px black;
}

.para-base {
  font-size: 1.4rem;
  padding: 5px 10px;
  font-style: italic;
  width: 10rem;
  text-align: center;
}

.base-img {
  height: 5rem;
}

.para-current-move {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0.5rem;
}

.current-move-img {
  height: 7rem;
}

.move-info {
  display: inline-block;
  align-self: center;
  margin-left: 2rem;
  font-size: 18px;
}

#next-moves-panel {
  background-color: var(--primary-grey);
  padding-bottom: 1rem;
}

#next-moves-panel > h3 {
  text-align: center;
  text-decoration: underline;
  font-size: 1.6rem;
  color: black;
  padding-top: 1rem;
  margin-bottom: 10px;
}

.next-moves-filters {
  display: flex;
  justify-content: space-around;
  color: black;
  align-items: center;
}

#next-moves-container {
  background-color: white;
  margin: 0 1rem;
}

#next-moves-list,
#current-flow-list {
  list-style: none;
  padding-inline-start: 0;
  overflow: auto;
  scrollbar-color: #241f20 #717171;
}

#next-moves-list {
  padding: 0.5rem 1rem;
  max-height: 450px;
}

#current-flow-list {
  padding: 0 1rem;
  max-height: 490px;
}

#next-moves-list > li,
#current-flow-list > li {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-red);
  padding: 0.5rem 1rem;
  margin: 0.5rem auto;
}

#current-flow-list > li:first-child {
  margin-top: 0;
}

#current-flow-list > li:last-child {
  margin-bottom: 0;
}

.fa-plus,
.fa-minus,
.fa-info {
  align-self: center;
  background-color: var(--primary-grey);
  padding: 6px;
  cursor: pointer;
  color: black;
}

.fa-info {
  padding: 6px 10px;
}

#next-moves-list p,
#current-flow-list p {
  display: inline-block;
  align-self: center;
  font-size: 1.2rem;
  padding: 0 10px;
  text-align: center;
}

.callout-command {
  text-shadow: -1px -1px 0 #00000054, 1px -1px 0 #00000054, -1px 1px 0 #00000054, 1px 1px 0 #00000054;
}

#next-moves-list img {
  height: 5rem;
}

.para-current-move::before,
.para-current-move::after {
  background-image: url(./assets/Claws-Black.png); 
  display: inline-block;
  background-size: 100% 100%;
  height: 40px;
  width: 40px;
  content: "";
}

.para-current-move::before {
  transform: translateY(14px) rotate(80deg);
}

.para-current-move::after {
  transform: translateY(14px) rotate(10deg);
}

  /*Current Flow*/
.form-title {
  text-align: center;
  font-weight: bold;
}

.form-row {
  display: flex;
  justify-content: space-around;
}

#flow-length {
  width: 16ch;
  text-align: center;
}

.note {
  text-align: center;
  padding: 0 1rem;
}

.btn-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 16px;
  align-items: baseline;
}

#current-flow-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#current-flow-list img {
  height: 5rem;
}

.reset-btn {
  padding: 3px 6px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(233,233,237);
  border: 1px solid;
}

.reset-btn:hover {
  filter: brightness(1.1);
}

.reset-btn > span {
  display: inline-block;
}

.reset-btn:hover > span {
  animation: reset 0.6s linear;
}

.mirror-btn {
  padding: 3px 6px;
  cursor: pointer;
  border: 1px solid;
  overflow: hidden;
  position: relative;
  background-color: rgb(233,233,237);
  font-weight: bold;
}

.mirror-btn::after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.7;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
}

.mirror-btn:hover {
  filter: brightness(1.1);
}

.mirror-btn:hover::after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

    /*Form Random Flow*/
.form-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4px;
}

.randflow-row1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.8rem;
}

/*Move Index page*/
.panel {
  width: 40%;
  background-color: var(--primary-red);
  padding: 1rem 2rem;
  border-radius: 20px;
  color: white;
  box-shadow: inset 0 0 7px 7px rgb(255 255 255 / 20%);
  min-height: 400px;
  margin-top: 2rem;
}

#index-header {
  background-color: unset;
  display: unset;
}

.panel-title {
  text-align: center;
  font-size: 1.8rem;
  margin: 0.5rem 0;
  text-decoration: underline;
}

#index-banner {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 10px;
  align-items: center;
}

#index-nav {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

#index-nav > div {
  background-color: var(--primary-grey);
  color: black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  cursor: pointer;
}

#index-nav > div:last-child {
  border-right: 2px solid black;
}

#index-nav > div:hover {
  background: radial-gradient(#c4c4c4, #4d4d4d);
}

#index-nav p {
  text-align: center;
}

.active-tab {
  font-weight: bold;
  background: radial-gradient(#c4c4c4, #4d4d4d);
}

#index-container {
  height: 380px;
  background-color: white;
}

#index-list {
  color: black;
  list-style-type: none;
  padding-inline-start: 0;
  padding: 10px;
  overflow: auto;
  max-height: 360px;
  margin: 0;
}

li.move-name,
li.alias {
  width: max-content;
  margin: 5px 0;
  cursor: pointer;
}

li.alias {
  text-indent: 20px;
  font-size: 80%;
}

/*Login Page*/
main#login-page {
  background-color: var(--primary-red);
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 2rem;
  height: 70vh;
  box-shadow: var(--shadow-inset-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#login-page > div:first-child {
  height: 75%;
  width: 60%;
  overflow: hidden;
  position: relative;
  background-color: #900303;
  min-width: 400px;
}

.user-card1,
.user-card2 {
  height: calc(100% - 2rem);
  min-width: calc(100% - 4rem);
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  opacity: 1;
  transition: all 0.8s ease-out;
}

.card1-hidden {
  left: -100%;
  opacity: 0;
  transform: scale(0.7);
}

.card2-hidden {
  left: 100%;
  opacity: 0;
  transform: scale(0.7);
}

.acct-form {
  height: calc(90% - 1rem);
  padding: 0.5rem 2rem;
  border: 3px solid white;
  border-radius: 20px;
  background-color: #c4c4c4e6;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login-form {
  gap: 1.6rem;
}

#register-form {
  gap: 1rem;
}

.acct-form label,
.acct-form input {
  font-size: 1rem;
}

.acct-form input {
  margin-left: 5px;
  flex: 1;
}

.acct-form hr {
  width: 90%;
  border: 1px solid;
  margin: 0 auto;
}

.new-acct {
  margin: 0;
  text-align: center;
}

.fa-arrow-circle-right,
.fa-arrow-circle-left {
  transform: scale(1.6);
  margin: 0 5px;
  cursor: pointer;
  padding: 0 5px;
}

/*Animations*/
@keyframes reset {
  0% {
    opacity: 1;
    transform: unset;
  }
  25% {
    transform: skewX(30deg);
  }
  50% {
    opacity: 0.8;
    transform: skewX(0deg);
  }
  75% {
    transform: skewX(-30deg);
  }
  100% {
    opacity: 1;
    transform: unset;
  }
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*Media Queries*/

  /*For Header and Navbar*/
@media screen and (max-width: 900px){
  #abbr-title {
    display: inline;
  }

  #full-title {
    display: none;
  }
}

  /*For Home Page*/
@media screen and (max-width: 1050px){
  main#home-page,
  main#move-index {
    flex-direction: column;
    align-items: center;
  }

  section#current-move, 
  section#current-flow,
  section.panel {
    width: 60%;
  }
}

  